/LAB4/Inheritance/nbproject/private/
/LAB4/Inheritance/build/
/LAB4/Polymorphism/nbproject/private/
/LAB4/Shapes/nbproject/private/
/LAB4/Shapes/build/
/LAB4/Polymorphism/build/
/ATM/nbproject/private/
/ATM/build/
/ATM/dist/
/LAB6/Final/nbproject/private/
/LAB6/Parent/nbproject/private/
/LAB6/Final/build/
/LAB6/Final/dist/
/LAB6/Stack/nbproject/private/
/LAB6/Stack/build/
/LAB6/StackMain/nbproject/private/
/LAB6/StackMain/build/
/LAB6/StackMain/dist/
/LAB7/UniversityMain/nbproject/private/
/LAB7/waleed/nbproject/private/
/LAB7/waleed/build/
/UniversityMain/dist/
/LAB7/LibraryMain/nbproject/private/
/LAB7/LibraryMain/build/
/LAB7/LibraryMain/dist/
/LAB8/tryCatch/nbproject/private/
/LAB8/tryCatch/build/
/LAB8/tryCatch/dist/